<!DOCTYPE html>
<html style="padding:0;margin:0;font-family:'Open Sans Condensed', sans-serif;">
  <head>
    <style>
      .btn-reachazo:hover{background-color:#c9392b;color:white}
      .btn-acuse:hover{background-color:#82abcc;color:white}
      .btn-aceptacion:hover{background-color:#42924d;color:white}
      .table-hover tbody tr:hover{background-color:rgba(0, 0, 0, 0.075)}
      .table-hover .table-primary:hover{background-color:#9fcdff}
      .table-hover .table-primary:hover > td{background-color:#9fcdff}
      .table-hover .table-primary:hover > th{background-color:#9fcdff}
      .table-hover .table-secondary:hover{background-color:#c8cbcf}
      .table-hover .table-secondary:hover > td{background-color:#c8cbcf}
      .table-hover .table-secondary:hover > th{background-color:#c8cbcf}
      .table-hover .table-success:hover{background-color:#b1dfbb}
      .table-hover .table-success:hover > td{background-color:#b1dfbb}
      .table-hover .table-success:hover > th{background-color:#b1dfbb}
      .table-hover .table-info:hover{background-color:#abdde5}
      .table-hover .table-info:hover > td{background-color:#abdde5}
      .table-hover .table-info:hover > th{background-color:#abdde5}
      .table-hover .table-warning:hover{background-color:#ffe8a1}
      .table-hover .table-warning:hover > td{background-color:#ffe8a1}
      .table-hover .table-warning:hover > th{background-color:#ffe8a1}
      .table-hover .table-danger:hover{background-color:#f1b0b7}
      .table-hover .table-danger:hover > td{background-color:#f1b0b7}
      .table-hover .table-danger:hover > th{background-color:#f1b0b7}
      .table-hover .table-light:hover{background-color:#ececf6}
      .table-hover .table-light:hover > td{background-color:#ececf6}
      .table-hover .table-light:hover > th{background-color:#ececf6}
      .table-hover .table-dark:hover{background-color:#b9bbbe}
      .table-hover .table-dark:hover > td{background-color:#b9bbbe}
      .table-hover .table-dark:hover > th{background-color:#b9bbbe}
      .table-hover .table-active:hover{background-color:rgba(0, 0, 0, 0.075)}
      .table-hover .table-active:hover > td{background-color:rgba(0, 0, 0, 0.075)}
      .table-hover .table-active:hover > th{background-color:rgba(0, 0, 0, 0.075)}
    </style>
    
  </head>
  <body style="padding:0;margin:0;font-family:'Open Sans Condensed', sans-serif;">
    <div id="contenedor" style="width:50%;margin:0px auto !important;">
      <div id="cabecera" style="width:100%;float:left;background:#bfbfbf;">
        <img src="http://ferregomezjp.com/recursos/logo.png" style="display:block;margin:auto;"/>
		</div>
      <div id="cuerpo" style="width:100%;float:left;border:1px solid silver;">
        <p style="padding:10px;">Estimado Cliente:</p>
        <p style="padding:10px;"><b>GOMEZ CARDONA PATRICIAEUGENIA</b></p>
        <p style="padding:10px;">Le informamos ha recibido un documento de FERREGOMEZ JP. </p>
        <table class="table" style="width:100%;max-width:100%;margin-bottom:1rem;background-color:transparent;">
          <tr>
            <td rowspan="4" class="text-center align-middle" style="vertical-align:top;border-top:1px solid #dee2e6;">
              <img src="http://ferregomezjp.com/recursos/MAIL-250px.png" width="100px"/>
					</td>
            <td style="vertical-align:top;border-top:1px solid #dee2e6;">Documento No : </td>
            <td style="vertical-align:top;border-top:1px solid #dee2e6;">####</td>
          </tr>
          <tr>
            <td style="vertical-align:top;border-top:1px solid #dee2e6;">Tipo de documento : </td>
            <td style="vertical-align:top;border-top:1px solid #dee2e6;">####</td>
          </tr>
          <tr>
            <td style="vertical-align:top;border-top:1px solid #dee2e6;">Fecha de emisión : </td>
            <td style="vertical-align:top;border-top:1px solid #dee2e6;">####</td>
          </tr>
          <tr>
            <td style="vertical-align:top;border-top:1px solid #dee2e6;">Valor : </td>
            <td style="vertical-align:top;border-top:1px solid #dee2e6;">####</td>
          </tr>
        </table>
        <table class="table" style="width:100%;max-width:100%;margin-bottom:1rem;background-color:transparent;">
          <tr>
            <td style="vertical-align:top;border-top:1px solid #dee2e6;"><center>
                <div class="btn btn-reachazo" style="color:#ffb300;background:transparent;border:2px solid #ffb300;border-radius:6px;border:none;color:white;padding:8px 16px;text-align:center;display:inline-block;font-size:12px;margin:4px 2px;-webkit-transition-duration:0.4s;transition-duration:0.4s;cursor:pointer;text-decoration:none;text-transform:uppercase;background-color:white;color:black;border:2px solid #c9392b;">Rechazo</div>
              </center></td>
            <td style="vertical-align:top;border-top:1px solid #dee2e6;"><center>
                <div class="btn btn-acuse" style="color:#ffb300;background:transparent;border:2px solid #ffb300;border-radius:6px;border:none;color:white;padding:8px 16px;text-align:center;display:inline-block;font-size:12px;margin:4px 2px;-webkit-transition-duration:0.4s;transition-duration:0.4s;cursor:pointer;text-decoration:none;text-transform:uppercase;background-color:white;color:black;border:2px solid #82abcc;">Acuse</div>
              </center></td>
            <td style="vertical-align:top;border-top:1px solid #dee2e6;"><center>
                <div class="btn btn-aceptacion" style="color:#ffb300;background:transparent;border:2px solid #ffb300;border-radius:6px;border:none;color:white;padding:8px 16px;text-align:center;display:inline-block;font-size:12px;margin:4px 2px;-webkit-transition-duration:0.4s;transition-duration:0.4s;cursor:pointer;text-decoration:none;text-transform:uppercase;background-color:white;color:black;border:2px solid #42924d;">Aceptación</div>
              </center></td>
          </tr>
        </table>
      </div>
      <div>
      </div>
    </div>
  </body>
</html>